<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Bucket-List App | My Bucket-Lists</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== Modal JS ================== -->
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- ================== END Modal JS ================== -->
</head>
<body>
	<div id="page-container" class="page-without-sidebar page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="{{ url_for('bucketlists') }} " class="navbar-brand"><span class="navbar-logo"></span>Bucket List App</a>
				</div>
				<!-- begin header navigation right -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible col-md-3" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
								<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{ url_for('logout') }}" class="">
							<span class="hidden-xs">Logout</span>
						</a>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
		</div>
		<!-- end #header -->
		
		<!-- begin #content -->
		<div id="content" class="container">
			<h1 class="page-header"><small></small></h1>
			<div class="panel panel-inverse">
			    <div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">New Bucket-List</a>
					</div>
			        <h2 class="panel-title">My Bucket Lists</h2>
			    </div>
				
				<!-- #Add a new Bucket list -->
				<div class="modal fade" id="modal-dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title">New Bucket-List</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" action="{{ url_for('addbucket') }}" method="POST">
								{{ addform.hidden_tag() }}
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-12">
											{{ addform.bucketname(class_ = "form-control", placeholder = "New Bucket List", required = "True") }}
                                        </div>
                                    </div>   
									<div class="form-group">
									<div class="col-md-6 col-sm-6">
										<button type="submit" class="btn btn-primary">Add Bucket-List</button>
									</div>
								</div>                                                                 
                                </fieldset>
                            </form>
							</div>						
						</div>
					</div>
				</div>
				<!-- End of new bucket list modal -->

				<!--Edit bucket modal-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">Edit</h4>
					  </div>
					  <div class="modal-body">
						<form action="{{ url_for('editbuket') }}" method="POST">
                            <div class="form-group">
                                    {{ editform.bucketname(class_ = "form-control", id="bucket", required = "True", readonly = 'readonly', type = "hidden") }}
                            </div>
                            <div class="form-group">
                                    {{ editform.newname(class_ = "form-control", required = "True", id="bucket") }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
						</form>
					  </div>
					</div>
				  </div>
				</div>
				<!--end of edit modal-->

                <!--remove modal-->
				<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="removeModalLabel">Remove</h4>
					  </div>
					  <div class="modal-body">
						<form action="{{ url_for('deletebuket') }}" method="POST">
                            <div class="form-group">
                                {{ deleteform.bucketname(class_ = "form-control", id="bucket", required = "True", readonly = 'readonly', type = "hidden") }}
                            </div>
                            <div class="form-group">
                                 <h5>Are you sure to remove this bucketlist?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Remove</button>
                            </div>
						</form>
					  </div>
					</div>
				  </div>
				</div>
                <!--End of remove modal-->
				
			    <div class="panel-body">
                        <div class="panel-body">
							<div class="table-responsive">
								<table id="data-table" class="table table-striped table-bordered" width="100%">
								<colgroup>
									<col span="1" style="width: 55%;">
									<col span="1" style="width: 15%;">
                                    <col span="1" style="width: 15%;">
									<col span="1" style="width: 15%;">
								</colgroup>
									<thead>
										<tr>
											<th>Bucket Name</th>
											<th>Bucket Items</th>
											<th>Edit Bucket</th>
											<th>Delete Bucket</th>
										</tr>
									</thead>
									<tbody>
										{% for bucketlist in buckets %}
                                            <tr>
											<td>{{ bucketlist.bucketname }}</td>
											<td><a href="{{ "bucketlists/" + bucketlist.bucketname + "/items" }}">View Items</a></td>
											<td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-item="{{ bucketlist.bucketname }}">Edit Bucket</button> </td>
											<td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#removeModal" data-item="{{ bucketlist.bucketname }}">Delete Bucket</button> </td>
											</tr>
                                        {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
			        </p>
			    </div>
			</div>
		</div>
		<!-- end #content -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename = 'plugins/jquery/jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- ================== END BASE JS ================== -->

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var item = button.data('item')
    var modal = $(this)
    modal.find('.modal-title').text('Edit ' + item)
    modal.find('.modal-body input').val(item)
    })
</script>
<script>
    $('#removeModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var task = button.data('item')
    var modal = $(this)
    modal.find('.modal-title').text('Remove ' + task)
    modal.find('.modal-body input').val(task)
    })
</script>
</body>
</html>
