<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Bucket-List App | Tasks</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== Modal JS ================== -->
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- ================== END Modal JS ================== -->
		
</head>
<body>
	<div id="page-container" class="page-without-sidebar page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="{{ url_for('bucketlists') }} " class="navbar-brand"><span class="navbar-logo"></span>Bucket List App</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible col-md-3" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{ url_for('logout') }}" class="">
							<span class="hidden-xs">Logout</span>
						</a>
					</li>
				</ul>
				<!-- end header navigation right -->
				
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #content -->
		<div id="content" class="container">
			<!-- begin page-header -->
			<h1 class="page-header"><small></small></h1>
			<!-- end page-header -->
			
			<div class="panel panel-inverse">
			    <div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">New Item</a>
					</div>
			        <h2 class="panel-title">Items</h2>
			    </div>

				<!-- #Add a new item modal -->
				<div class="modal fade" id="modal-dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title">New Item</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" action="{{ url_for('additem') }}" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-12">
											{{ addform.itemname(class_ = "form-control", placeholder = "New Item", required = "True") }}
                                        </div>
										<div>
											{{ addform.bucketname(class_ = "form-control", value = blist , required = "True", type = "hidden") }}
                                        </div>
                                    </div>   
									<div class="form-group">
									<div class="col-md-6 col-sm-6">
										<button type="submit" class="btn btn-primary">Add Item</button>
									</div>
									</div>
                                </fieldset>
                            </form>
							</div>						
						</div>
					</div>
				</div>
				<!-- End of new item modal -->

				<!--Edit task modal-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">Edit</h4>
					  </div>
					  <div class="modal-body">
						<form action="{{ url_for('edititem') }}" method="POST" class="form-horizontal">
                            <div class="form-group">
                                    {{ editform.bucketname(class_ = "form-control", id="bucket", required = "True", readonly = 'readonly', type = "hidden") }}
                            </div>
                            <div class="form-group">
								<label class="col-md-4 control-label">Name</label>
								<div class="col-md-8">
                                    {{ editform.newname(class_ = "form-control", required = "True", id="bucket") }}
								</div>
                            </div>
							
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
						</form>
					  </div>

					</div>
				  </div>
				</div>
				<!--end of edit modal-->

                <!--New remove modal-->
				<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="removeModalLabel">Remove</h4>
					  </div>
					  <div class="modal-body">
						<form action="{{ url_for('removeitem') }}" method="POST">
                            <div class="form-group">
                                {{ deleteform.itemname(class_ = "form-control", id="bucket", required = "True", readonly = 'readonly', type = "hidden") }}
                            </div>
                            <div class="form-group">
                                 <h5>Are you sure to remove this task?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Remove</button>
                            </div>
						</form>
					  </div>

					</div>
				  </div>
				</div>
                <!--End of remove modal-->

			    <div class="panel-body">
                        <div class="panel-body">
							<div class="table-responsive">
								<table id="data-table" class="table table-striped table-bordered" width="100%">
								<colgroup>
									<col span="1" style="width: 55%;">
									<col span="1" style="width: 15%;">
									<col span="1" style="width: 15%;">
								</colgroup>
									<thead>
										<tr>
											<th>Item Name</th>
											<th>Edit Item</th>
											<th>Delete Item</th>
										</tr>
									</thead>
									<tbody>
										{% for item in items %}
										<tr>
											<td>{{ item.itemname }}</td>
                                            <td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-item="{{ item.itemname }}">Edit Item</button> </td>
											<td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#removeModal" data-item="{{ item.itemname }}">Delete Item</button> </td>
										</tr>
                                        {% endfor %}										
									</tbody>
								</table>
							</div>
						</div>
					</div>
                    <!-- end panel -->
			        </p>
			    </div>
			</div>
            
		</div>
		<!-- end #content -->
		
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename = 'plugins/jquery/jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'plugins/bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
		$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var item = button.data('item')
		var modal = $(this)
		modal.find('.modal-title').text('Edit ' + item)
		modal.find('.modal-body input').val(item)
		})
	</script>
	<script>
		$('#removeModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget)
		var task = button.data('item')
		var modal = $(this)
		modal.find('.modal-title').text('Remove ' + task)
		modal.find('.modal-body input').val(task)
		})
	</script>

</body>
</html>
